<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<script type="text/javascript" src="{{ "js/bin/materialize.min.js" | relative_url }}"></script>
<script type="text/javascript">
  (function($){
    $(".button-collapse").sideNav();
    $(function(){

      $('.button-collapse').sideNav();
      $('.parallax').parallax();

    }); // end of document ready
  })(jQuery); // end of jQuery name space
</script>
