body {
  background-image: url("/assets/blockchain.png");
  background-color: #1f497d;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.jumbo {
  padding-top: 10%;
  text-align: center;
}
